extends ../base


block content
    video(src=`/${video.fileURL}`, controls)
    div 
        button#play Play
        button#mute Mute 
        div
            span#currentTime 0:00
            span  / 
            span#totalTime 00:00
        input(type="range", min=0, max=1, step=0.02)#volume
    //-
        div
            p=video.description
            small=video.createdAt
            br
            br
            span Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name 
        if String(user && user._id) === String(video.owner._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;



block scripts 
    script(src="/static/js/videoPlayer.js") 